apricot-select
numba
scipy
scikit-learn
torch
torchvision
tqdm
sphinxcontrib-napoleon
sphinxcontrib-bibtex
sphinx-rtd-theme
matplotlib
numpy
torchvision
pillow
pandas
torchtext
scikit-image
pyyaml
dotmap
setuptools
ray[tune]
ray[default]
datasets
transformers
sentencepiece
accelerate
tokenizers